@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "GenEiLateMinN_v2";
  src: url("../fonts/GenEiLatin-Separate_v2.1/GenEiLateMinN_v2.ttf") format("truetype");
  font-display: swap;
}
body {
  margin: auto;
  font-family: "GenEiLateMinN_v2", serif;
  background-color: #f5e4de;
  background: url("/background.svg") fixed 100px;
}

div#__next {
  max-width: 400px;
  margin: auto;
  border: 0.6rem #311b15 solid;
  box-sizing: content-box;
  background-color: rgb(253, 250, 220);
  overflow: hidden;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

header {
  height: 18rem;
  color: white;
  padding: 2rem;
  background: url("/header.svg") center center no-repeat #754F44;
  background-size: cover;
  font-family: "GenEiLateMinN_v2", serif;
}
header h1 {
  margin-top: 1.5rem;
  line-height: 1.5em;
}

nav {
  padding: 1.2rem;
  background-color: rgb(255, 248, 239);
  border-bottom: #754F44 3px dashed;
}
nav a {
  color: #754F44;
  font-weight: 800;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
nav ul li {
  text-align: center;
  flex-basis: 50%;
  flex-grow: 1;
  background-color: rgb(255, 248, 239);
  padding: 1rem;
  font-size: 18px;
}
nav ul li:nth-child(odd) {
  border-right: 2px #754F44 solid;
}
nav ul li:nth-child(n+3) {
  border-top: 2px #754F44 solid;
}

.loginNav {
  border-top: 2px #754F44 solid;
}

#goToAbout {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1rem auto;
  height: 3rem;
  padding: 2rem;
  font-size: 22px;
}
#goToAbout a {
  display: block;
  position: relative;
  font-size: 20px;
  color: #4b281f;
  font-weight: 900;
}
#goToAbout a::before {
  content: "\f05a";
  display: block;
  position: absolute;
  font-size: 20px;
  transform: translate(-30px, 2px);
  font-family: "Font Awesome 6 Free";
}

.latestTests, .latestNewses {
  color: #3d3b16;
  padding: 1rem;
  background-color: #d9e0c4;
}
.latestTests a, .latestNewses a {
  color: #2e2c0d;
}
.latestTests li, .latestNewses li {
  margin: 1rem;
}
.latestTests h3, .latestNewses h3 {
  font-size: 25px;
  bottom: 0;
}
.latestTests h3::before, .latestNewses h3::before {
  content: "";
  display: inline-block;
  width: 0.5rem;
  height: 20px;
  background-color: #5E654A;
  margin-right: 10px;
  line-height: 25px;
  bottom: 0;
}
.latestTests ul, .latestNewses ul {
  margin: 2rem 0;
}

.latestTests {
  border-top: #754F44 3px dashed;
}
.latestTests li:nth-child(n+1) {
  border-bottom: 2px #5E654A dashed;
}
.latestTests::after {
  content: "";
  display: block;
  height: 1rem;
  background: url("/separatingLine/b_ornament_146_0S.png") no-repeat center center;
  margin-top: 2rem;
}
.latestTests .publisher {
  display: block;
  position: relative;
  left: 12rem;
}

a.allTests {
  display: block;
  text-align: center;
  width: 200px;
  margin: 0.5rem auto;
  background-color: #5E654A;
  padding: 0.5rem;
  border-radius: 10px;
  color: white;
}

.latestNews {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.latestNews a {
  border-bottom: 2px #5E654A dashed;
}
.latestNews .postDate {
  background-color: #fefff9;
  border-radius: 5px;
  padding: 0.2rem 0.5rem;
  margin-right: 1rem;
  width: 9rem;
  text-align: center;
}

.testsByGenre, .testsByStatus {
  margin: 0.4rem 1rem 0;
  cursor: pointer;
}

.testsByGenre {
  text-align: center;
}
.testsByGenre li {
  color: #2e2c0d;
  padding-bottom: 0.3rem;
}
.testsByGenre li:hover {
  background-color: #5E654A;
  color: white;
  transition: 0.4s;
}

label.selectTestsNav {
  cursor: pointer;
  background-color: #5E654A;
  color: white;
  width: 60%;
  margin: auto;
  padding: 0.5rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

label.selectTestsNav + .testsByGenre {
  height: 0;
  transition: 0.5s;
  overflow: hidden;
}

input#selectTestsNav {
  display: none;
}

label.selectTestsNav {
  position: relative;
}
label.selectTestsNav::after {
  content: "＋";
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  font-size: 20px;
}

input#selectTestsNav:checked + label.selectTestsNav {
  position: relative;
}
input#selectTestsNav:checked + label.selectTestsNav::after {
  content: "－";
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  font-size: 20px;
}

div.seeAllTests {
  text-align: center;
  cursor: pointer;
  background-color: #5E654A;
  color: white;
  width: 60%;
  margin: 1rem auto;
  padding: 0.5rem;
  border-radius: 10px;
}

#selectTestsNav:checked + label.selectTestsNav + .testsByGenre {
  height: 13rem;
  transition: 0.5s ease-in-out;
}

ul.testsByStatus {
  display: flex;
  justify-content: center;
  align-items: center;
}
ul.testsByStatus li:nth-child(n+2) {
  margin-left: 0.3rem;
}
ul.testsByStatus li {
  background-color: #d9e0c4;
  padding: 0.5rem 0.2rem;
  width: 35%;
  text-align: center;
  font-size: 13px;
  transition: 0.3s;
  border-radius: 10px 10px 0 0;
}
ul.testsByStatus li.selected {
  background-color: #5E654A;
  color: white;
}

.currentTests {
  background-color: #d9e0c4;
  padding: 0.5rem;
}

.pagingBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.pagingBtn button {
  cursor: pointer;
  width: 100%;
  border: none;
  padding: 0.6rem;
  background-color: #a56e5f;
  transition: 0.3s;
}
.pagingBtn button:hover {
  background-color: #744f45;
}
.pagingBtn button i {
  color: white;
  font-size: 18px;
}
.pagingBtn button:disabled {
  cursor: not-allowed;
  background-color: #f5e4de;
}
.pagingBtn button:nth-child(1) {
  border-right: #311b15 2px solid;
}
.pagingBtn button:nth-child(2) {
  border-left: #311b15 2px solid;
}

.currentTests div.PredictionTests:nth-child(n+2) {
  border-top: #aa706b 2px dotted;
}

div.PredictionTests {
  color: #5e664b;
  padding: 1rem;
}
div.PredictionTests h4 {
  color: #2e2c0d;
  font-weight: 400;
  position: relative;
  display: flex;
}
div.PredictionTests h4::before {
  position: absolute;
  transform: translateX(-15px);
  content: "";
  display: block;
  width: 10px;
  height: 20px;
  background-color: #2e2c0d;
}
div.PredictionTests small.publisher {
  margin-top: 0.3rem;
  display: block;
  position: relative;
  left: 12rem;
}
div.PredictionTests small.publisher a {
  color: #5e664b;
}
div.PredictionTests .basicPoint {
  padding-bottom: 0.5rem;
  border-bottom: 2px #5E654A dashed;
  color: #2e2c0d;
}
div.PredictionTests .genre {
  padding: 0.5rem 0;
}

.testBody {
  position: relative;
  padding: 0.6rem;
  color: #311b15;
}
.testBody .statusMsg {
  font-size: 14px;
}
.testBody .datesOfTest {
  font-size: 13px;
  margin: 1rem 0;
}
.testBody .goToCheck, .testBody .goToPredict {
  margin: 1rem auto;
  text-align: center;
  width: 50%;
  display: block;
  background-color: #f06d62;
  color: white;
  padding: 0.5rem;
  border-radius: 10px;
  font-weight: 700;
  transition: background-color 0.3s;
}
.testBody .goToCheck:hover, .testBody .goToPredict:hover {
  background-color: white;
  color: #f06d62;
  outline: 2px #f06d62 solid;
}
.testBody .incorrectMsg {
  color: #666;
  border: 2px #666 solid;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  padding: 0.6rem 1rem;
  font-weight: 700;
  font-size: 20px;
  position: absolute;
  z-index: 9;
  right: 2rem;
  top: 9rem;
  transform: rotate(20deg);
}
.testBody .correctMsg {
  color: rgb(180, 57, 41);
  position: absolute;
  z-index: 9;
  right: 1rem;
  top: 8rem;
  transform: rotate(20deg);
  background-color: rgba(255, 255, 255, 0.3);
  border: rgb(180, 57, 41) 3px solid;
  width: 7rem;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 30px;
}
.testBody .basicPoint {
  font-size: 14px;
}
.testBody .basicPoint span {
  text-decoration: underline;
}
.testBody .testStatus {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  text-align: center;
}
.testBody .testStatus span {
  text-decoration: underline;
}
.testBody .testStatus::before, .testBody .testStatus::after {
  content: "";
  display: block;
  background-color: #976c45;
  width: 10px;
  height: 20px;
  transition: 0.3s;
}
.testBody .testStatus::before {
  transform: translateX(-12px);
}
.testBody .testStatus::after {
  transform: translateX(12px);
}
.testBody h4 {
  font-size: 20px;
  margin-bottom: 0.5rem;
  color: #4b281f;
}
.testBody p, .testBody label {
  color: #754F44;
}
.testBody .genre {
  font-size: 14px;
  margin-bottom: 0.5rem;
}
.testBody small.publisher {
  display: block;
  width: 100%;
  text-align: right;
}
.testBody small.publisher a {
  color: #311b15;
}
.testBody .description {
  cursor: pointer;
  margin: 1rem;
  background-color: #976c45;
  padding: 0.5rem;
  text-align: center;
  border-radius: 10px;
  color: white;
}
.testBody #description {
  cursor: pointer;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #4b281f;
  color: white;
  padding: 1rem;
  border: 2px white solid;
  display: inline-block;
  height: auto;
  width: auto;
  animation: showDes 0.8s forwards;
  overflow: auto;
  z-index: 999;
  border-radius: 10px;
  white-space: pre-wrap;
}
.testBody .mask {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

main .alertMsg, .pointAlert {
  background-color: rgb(252, 252, 198);
  color: #976c45;
  border: 1px #976c45 solid;
  margin: 1rem auto;
  width: 90%;
  text-align: center;
  border-radius: 5px;
  padding: 0.3rem;
  font-size: 14px;
  justify-content: center;
  align-items: center;
}

.goBack {
  display: block;
  height: 40px;
  background-color: rgb(78, 137, 192);
  border-radius: 0 2px 2px 0;
  color: white;
  padding: 0.5rem;
  position: relative;
  transform: translateX(20px);
}
.goBack::before {
  content: "";
  display: block;
  top: 50%;
  left: 0;
  margin-top: -20px;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid rgb(78, 137, 192);
  position: absolute;
  transform: translateX(-20px);
}

@keyframes showDes {
  0% {
    padding: 0;
    overflow: hidden;
    width: 0%;
    height: 0%;
  }
  30% {
    padding: 0;
    overflow: hidden;
    width: 90%;
    height: 0%;
  }
  100% {
    padding: 1rem;
    overflow: auto;
    width: 90%;
    height: 50%;
    cursor: auto;
  }
}
.navInTest {
  position: relative;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.navInTest .editTests {
  position: absolute;
  right: 40%;
}
.navInTest .editTests, .navInTest .deleteTest {
  background-color: #976c45;
  border-radius: 10px;
  padding: 0.5rem;
  height: 40px;
}
.navInTest .editTests a, .navInTest .editTests p, .navInTest .deleteTest a, .navInTest .deleteTest p {
  color: white;
}

section.choicesSection {
  display: grid;
  font-size: 14px;
  grid-template-columns: 50% 50%;
  gap: 0.2rem;
  margin: 2rem 0;
  color: #754F44;
}
section.choicesSection .choices {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 252, 226);
  border: 2px #976c45 solid;
  border-radius: 3px;
  box-shadow: 0 0 1px 1px rgba(97, 82, 42, 0.5);
  min-height: 5rem;
}
section.choicesSection .choices .choiceInfo {
  border-bottom: 2px #976c45 solid;
  display: flex;
  justify-content: space-between;
  padding: 0 0.2rem;
}
section.choicesSection .choices .choiceContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0.3rem;
  text-align: center;
  overflow-wrap: anywhere;
  min-height: 3.5rem;
  vertical-align: middle;
}
section.choicesSection .choices.selected {
  background-color: #fde5dd;
  color: #773b35;
  border: 2px #773b35 solid;
}
section.choicesSection .choices.selected .choiceInfo {
  border-bottom: 2px #773b35 solid;
}
section.choicesSection .choices.selected .choiceContent {
  color: #773b35;
}
section.choicesSection .choices.selected.flag {
  background-color: rgb(255, 236, 126);
  color: #754F44;
  border: 2px #754F44 solid;
}
section.choicesSection .choices.selected.flag .choiceInfo {
  border-bottom: 2px #754F44 solid;
}
section.choicesSection .choices.selected.flag .choiceInfo span:first-child::after {
  content: "\f024";
  font-size: 18px;
  display: inline-block;
  font-family: "Font Awesome 6 Free"; /* Font Awesome 圖示字體名稱 */
  font-weight: 900; /* 字體粗細 */
  position: absolute;
  color: red;
  transform: rotate(7deg) translateX(8px);
}
section.choicesSection .choices.selected.flag .choiceContent {
  color: #754F44;
}
section.choicesSection .choices.answer {
  animation: answerGlow 2s infinite;
  animation-delay: 2s;
  position: relative;
}
section.choicesSection .choices.answer::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: 100%;
  height: 100%;
  background: white;
  opacity: 0;
  border: 4px white solid;
  animation: answerShine 2s infinite;
  animation-delay: 2s;
}

@keyframes answerGlow {
  0% {
    box-shadow: 0;
  }
  50% {
    box-shadow: 0 0 50px white;
  }
  75% {
    box-shadow: 0 0 20px white;
  }
  100% {
    box-shadow: 0;
  }
}
@keyframes answerShine {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 0;
  }
}
form.newTest {
  padding: 1rem;
}

form {
  color: #4b281f;
}
form label {
  display: block;
  margin-bottom: 0.5rem;
}
form .newTestNotice {
  font-size: 14px;
  margin: 0.5rem 0 1rem;
}
form input[type=text] {
  width: 100%;
  height: 3em;
  line-height: 2;
  margin-bottom: 1rem;
}
form select, form textarea {
  width: 100%;
  margin-bottom: 1rem;
  white-space: pre-wrap;
}
form label.test-deadline, form label.test-bonus {
  display: inline-block;
}
form #test-bonus {
  display: inline-block;
  width: 14em;
}
form button {
  cursor: pointer;
  display: block;
  margin: 1rem auto;
  padding: 0.5rem 1rem;
  font-size: 16px;
  background-color: #aa706b;
  color: white;
  border: transparent 2px solid;
  border-radius: 10px;
  font-weight: 700;
  transition: 0.3s;
}
form button:hover {
  background-color: white;
  color: #aa706b;
  border: 2px #aa706b solid;
}

h4.test-title {
  font-size: 20px;
  margin-bottom: 0.5rem;
  color: #4b281f;
  margin-top: 1rem;
}

p.test-genre {
  font-size: 14px;
  margin-bottom: 0.5rem;
  color: #754F44;
}

h4.test-title, p.test-genre {
  margin-left: 1rem;
}

.CheckOut input[type=radio], .toPredict input[type=radio] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.CheckOut input[type=radio] + label, .toPredict input[type=radio] + label {
  margin: 0;
  border-bottom: 2px transparent solid;
  cursor: pointer;
}
.CheckOut input[type=radio]:checked + label, .toPredict input[type=radio]:checked + label {
  background-color: #fff0ae;
  border-bottom: 2px #fff0ae solid;
}

div.isFlag {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 2em;
  margin-bottom: 1rem;
  font-size: 16px;
  background-color: rgb(255, 255, 219);
  color: #493622;
  border: 1px #493622 solid;
  border-radius: 8px;
  max-width: 40%;
  margin: 0 auto 2rem;
}
div.isFlag label {
  margin: 0;
}
div.isFlag input {
  margin-right: 0.5rem;
}

div.usePoint {
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
}
div.usePoint #usePoint {
  width: 14em;
}
div.usePoint label {
  margin: 0;
  color: #4b281f;
}

section.choicesSection .choices.toPredict.isSelected {
  border: 2px solid #ccc;
  box-shadow: none;
}
section.choicesSection .choices.toPredict.isSelected label {
  background-color: #dfdfdf;
}
section.choicesSection .choices.toPredict.isSelected label .choiceInfo {
  border-bottom: 2px solid #ccc;
}
section.choicesSection .choices.toPredict.isSelected label p, section.choicesSection .choices.toPredict.isSelected label .choiceInfo span {
  color: white;
}

form.edit {
  padding: 1rem;
}

form.CheckOutForm {
  padding: 1rem;
}

.testsTemplate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem 0;
  position: relative;
}
.testsTemplate::after {
  content: "";
  display: block;
  height: 1rem;
  background: url("/separatingLine/b_ornament_146_0S.png") no-repeat center center;
  width: 100%;
  margin: 0rem 1rem 1rem;
}

.toRules, .toContact {
  display: flex;
}
.toRules:hover::before, .toRules:hover::after, .toContact:hover::before, .toContact:hover::after {
  background-color: #d9e0c4;
  transition: 0.3s;
}
.toRules::before, .toRules::after, .toContact::before, .toContact::after {
  content: "";
  display: block;
  background-color: #2e2c0d;
  width: 10px;
  height: 20px;
  transition: 0.3s;
}
.toRules::before, .toContact::before {
  transform: translateX(-12px);
}
.toRules::after, .toContact::after {
  transform: translateX(12px);
}

.publishBtn {
  margin: 1rem;
  background-color: #aa706b;
  padding: 0.5rem;
  border-radius: 10px;
  transition: background-color 0.3s;
}
.publishBtn a {
  font-size: 18px;
  font-weight: 800;
  color: white;
}
.publishBtn:hover {
  background-color: white;
  outline: 2px #aa706b solid;
}
.publishBtn:hover a {
  color: #aa706b;
}

.profileBody, .recordBody {
  padding: 1rem;
  color: #4b281f;
}
.profileBody a, .recordBody a {
  color: #4b281f;
}

.profileBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 2em;
}
.profileBody h4 {
  align-self: flex-start;
  font-size: 25px;
  margin-bottom: 1rem;
}
.profileBody .expBar {
  height: 0.5rem;
  width: 300px;
  background-color: #ccc;
  margin: 1rem auto;
  position: relative;
  border-radius: 2px;
}
.profileBody .expBar small {
  margin: 0.2rem;
  display: block;
  text-align: right;
  width: 100%;
}
.profileBody .expBar .expBarIn {
  background-color: rgb(78, 137, 192);
  height: 0.5rem;
  position: absolute;
  border-radius: 2px 0 0 2px;
  transition: width 0.3s;
}
.profileBody .penaCounter {
  margin: 1rem 0;
}

.recordBody {
  background-color: #e9d5b1;
  margin: 0.5rem;
}
.recordBody .recordTitle {
  font-size: 18px;
  margin: 1rem 0;
}
.recordBody ul {
  padding: 1rem;
}
.recordBody ul li {
  margin-bottom: 0.8rem;
  padding: 1rem;
  position: relative;
  background-color: #fff5eb;
  border-radius: 10px;
}
.recordBody .publishRecordsList {
  margin-bottom: 3rem;
}
.recordBody .predictRecordsList {
  margin-bottom: 3rem;
}
.recordBody .predictRecordsList li p.counter {
  text-align: right;
  font-size: 14px;
}
.recordBody .predictRecordsList li .accurateMsg {
  position: absolute;
  top: -3px;
  left: -25px;
  background-color: rgb(180, 57, 41);
  color: white;
  padding: 3px 6px;
  font-size: 10px;
  transform: rotate(-30deg);
  border: white 3px double;
}

form.signUp, form.login {
  padding: 1rem;
}
form.signUp .alertMsg, form.login .alertMsg {
  padding: 0.5rem;
  margin-bottom: 2rem;
  justify-content: center;
}
form.signUp .signUpNotice, form.login .signUpNotice {
  display: block;
  margin-bottom: 1rem;
}
form.signUp div, form.login div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 0;
}
form.signUp div label, form.login div label {
  margin-bottom: 0;
}
form.signUp div input, form.login div input {
  margin-bottom: 0;
  height: 2em;
  width: 15em;
}
form.signUp div.nickname, form.login div.nickname {
  margin-bottom: 2rem;
}

form.login {
  padding: 2rem 1rem 1rem;
}
form.login div.password {
  margin-bottom: 2rem;
}

.pleaseLogin {
  text-align: center;
  margin: 2rem;
  color: #311b15;
}

form.contact {
  padding: 1rem;
}
form.contact h2 {
  display: flex;
  position: relative;
  margin: 1rem auto 2rem;
  justify-content: center;
  align-items: center;
}
form.contact h2::before, form.contact h2::after {
  content: "";
  display: block;
  background-color: #311b15;
  height: 1.5em;
  width: 10px;
  position: relative;
}
form.contact h2::before {
  transform: translateX(-10px);
}
form.contact h2::after {
  transform: translateX(10px);
}
form.contact .nickname, form.contact .email {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
form.contact .nickname input, form.contact .email input {
  width: 60%;
}
form.contact .nickname label, form.contact .email label {
  margin-bottom: 0;
}
form.contact textarea {
  margin-top: -1rem;
}

.newsTitle {
  color: #311b15;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.newsTitle::before, .newsTitle::after {
  content: "";
  display: block;
  background-color: #311b15;
  height: 1.5em;
  width: 10px;
  position: relative;
}
.newsTitle::before {
  transform: translateX(-10px);
}
.newsTitle::after {
  transform: translateX(10px);
}

.newsIndex {
  color: #311b15;
  padding: 1rem;
}
.newsIndex li:nth-child(n+2) {
  border-top: 2px dashed #4b281f;
}
.newsIndex .news {
  padding: 0.5rem;
}
.newsIndex .news small {
  font-size: 12px;
}
.newsIndex .news h4 {
  font-size: 18px;
  padding: 0.3rem 0;
}
.newsIndex .news h4 a {
  color: #311b15;
}

.newsBody {
  color: #311b15;
  padding: 1rem;
}
.newsBody .goBack {
  max-width: 15%;
}
.newsBody h3 {
  margin: 1rem 0;
  text-align: center;
  font-size: 25px;
}
.newsBody .postDate {
  margin-bottom: 2rem;
  text-align: right;
}

.penaltyAlert {
  background-color: rgb(255, 199, 199);
  padding: 0.5rem 2rem;
  margin: 2rem 0.7rem;
  border: 1px solid rgb(163, 0, 0);
  color: rgb(163, 0, 0);
  border-radius: 10px;
}

li.isNotExist {
  display: flex;
  position: relative;
}
li.isNotExist::before {
  position: relative;
  transform: translate(-3px, 2px);
  content: "\f057";
  display: block;
  font-family: "Font Awesome 6 Free";
}

section.about {
  color: #311b15;
  padding: 1rem;
  overflow-wrap: anywhere;
}
section.about .toRules, section.about .toContact {
  background-color: #e2f5d1;
  padding: 0.5rem;
  border-radius: 10px;
}
section.about span {
  display: inline-block;
  overflow-wrap: anywhere;
  word-break: break-all;
}
section.about .author {
  text-align: right;
  font-size: 14px;
}
section.about .linkToFTA {
  background-color: #f5d9d1;
  padding: 1rem;
  border-radius: 10px;
  font-size: 14px;
  color: #773b35;
}
section.about .linkToFTA p {
  text-indent: 0;
}
section.about .linkToFTA a {
  text-decoration: underline;
  line-height: 1.5em;
  color: #773b35;
}
section.about h3 {
  margin: 1rem auto 2rem;
  font-size: 18px;
  text-align: center;
}
section.about p {
  line-height: 1.5em;
  text-indent: 1em;
}
section.about a {
  justify-content: center;
  align-items: center;
}

strong {
  word-wrap: break-word;
  word-break: break-all;
}

.highlighter.brown {
  word-wrap: break-word;
  word-break: break-all;
  position: relative;
  display: inline-block;
  transform: translateX(-1em);
  margin-right: -1em;
  z-index: 1;
}
.highlighter.brown::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  display: block;
  height: 0.8rem;
  width: 90%;
  background-color: rgba(204, 158, 145, 0.5);
  transform: translateX(1em);
  z-index: -1;
}

.highlighter.blue {
  word-wrap: break-word;
  word-break: break-all;
  position: relative;
  display: inline-block;
  transform: translateX(-1em);
  margin-right: -1em;
  z-index: 1;
}
.highlighter.blue::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  display: block;
  height: 0.8rem;
  width: 90%;
  background-color: rgba(145, 187, 204, 0.5);
  transform: translateX(1em);
  z-index: -1;
}

.highlighter.yellow {
  word-wrap: break-word;
  word-break: break-all;
  position: relative;
  display: inline-block;
  transform: translateX(-1em);
  margin-right: -1em;
  z-index: 1;
}
.highlighter.yellow::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  display: block;
  height: 0.8rem;
  width: 90%;
  background-color: rgba(233, 216, 104, 0.5);
  transform: translateX(1em);
  z-index: -1;
}

section.privacy-policy {
  padding: 1rem;
  line-height: 1.5em;
  color: #311b15;
}
section.privacy-policy h4 {
  margin-bottom: 0.5rem;
}
section.privacy-policy .miniTitle {
  margin: 0.5rem 0 1rem;
  font-size: 14px;
}
section.privacy-policy h3 {
  text-align: center;
  margin: 2rem;
  font-size: 25px;
}
section.privacy-policy ul {
  margin-bottom: 2rem;
  background-color: #f3d0b0;
  padding: 1rem;
  border-radius: 10px;
}
section.privacy-policy ul li {
  transform: translateX(5px);
  position: relative;
  font-size: 14px;
}
section.privacy-policy ul li::before {
  position: absolute;
  left: -10px;
  top: 10px;
  content: "";
  display: block;
  height: 5px;
  width: 5px;
  background-color: #311b15;
}
section.privacy-policy a {
  color: #311b15;
  text-decoration: underline;
}

.publishCorner, .predictCorner, .checkOutCorner {
  color: #2e2c0d;
  margin: 1rem 0;
  background-color: #d9e0c4;
  padding: 0.5rem;
  border-radius: 5px;
  line-height: 1.5em;
}
.publishCorner a, .predictCorner a, .checkOutCorner a {
  text-decoration: underline;
  color: #2e2c0d;
}
.publishCorner .title, .predictCorner .title, .checkOutCorner .title {
  font-size: 18px;
  padding: 1rem;
  background-color: #eff5de;
  margin: 0;
}
.publishCorner p, .predictCorner p, .checkOutCorner p {
  margin: 1rem 0;
}
.publishCorner img, .predictCorner img, .checkOutCorner img {
  display: block;
  margin: auto;
}
.publishCorner .delete, .publishCorner .patch, .predictCorner .delete, .predictCorner .patch, .checkOutCorner .delete, .checkOutCorner .patch {
  padding-top: 0.5rem;
  border-top: #5E654A 2px dashed;
}

.rulesBody {
  line-height: 1.5em;
  color: #311b15;
  padding: 1rem;
}
.rulesBody .blockTitle {
  margin-bottom: 0.5rem;
  font-size: 18px;
}
.rulesBody .blockTitle::before {
  position: absolute;
  content: "";
  display: block;
  height: 20px;
  width: 10px;
  background-color: #4b281f;
  transform: translateX(-15px);
}
.rulesBody .hint {
  display: inline-block;
  margin: 0.5rem 0;
}
.rulesBody .profileCorner {
  margin: 1rem 0;
  background-color: rgb(218, 206, 188);
  padding: 0.5rem;
  border-radius: 5px;
}
.rulesBody .profileCorner .title {
  font-size: 18px;
  padding: 1rem;
  background-color: rgb(255, 240, 211);
}
.rulesBody .profileCorner .aboutPoint, .rulesBody .profileCorner .aboutExp, .rulesBody .profileCorner .aboutPenalty {
  border-bottom: #4b281f 2px dashed;
  padding: 1rem;
}
.rulesBody h2 {
  display: flex;
  position: relative;
  margin: 1rem auto 2rem;
  justify-content: center;
  align-items: center;
}
.rulesBody h2::before, .rulesBody h2::after {
  content: "";
  display: block;
  background-color: #311b15;
  height: 1.5em;
  width: 10px;
  position: relative;
}
.rulesBody h2::before {
  transform: translateX(-10px);
}
.rulesBody h2::after {
  transform: translateX(10px);
}

/* 滾動條的整體樣式 */
::-webkit-scrollbar {
  width: 5px;
}

/* 滾動條軌道 */
::-webkit-scrollbar-track {
  background-color: #cc9e91;
}

/* 滾動條滑塊 */
::-webkit-scrollbar-thumb {
  background-color: #882929;
  border-radius: 5px;
}

/* Firefox 瀏覽器 */
/* 滾動條的整體樣式 */
html {
  scrollbar-width: thin;
  scrollbar-color: #882929 #cc9e91;
}

/* 滾動條滑塊 */
html::-webkit-scrollbar-thumb {
  background-color: #882929;
}

/* 滾動條軌道 */
html::-webkit-scrollbar-track {
  background-color: #cc9e91;
}

/* Microsoft Edge 瀏覽器 */
/* 滾動條的整體樣式 */
@media screen and (min-width: 768px) {
  ::-ms-scrollbar {
    width: 5px;
  }
}
/* 滾動條軌道 */
@media screen and (min-width: 768px) {
  ::-ms-scrollbar-track {
    background-color: #cc9e91;
  }
}
/* 滾動條滑塊 */
@media screen and (min-width: 768px) {
  ::-ms-scrollbar-thumb {
    background-color: #882929;
    border-radius: 5px;
  }
}
div.loading {
  width: 350px;
  margin: auto;
}

#load {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  width: 100px;
  animation: loading 3s linear infinite;
}
#load #loading-inner {
  stroke-dashoffset: 0;
  stroke-dasharray: 300;
  stroke-width: 10;
  stroke-miterlimit: 10;
  stroke-linecap: round;
  animation: loading-circle 2s linear infinite;
  stroke: #311b15;
  fill: transparent;
}

@keyframes loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loading-circle {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: -600;
  }
}
footer {
  background-color: #754F44;
  padding: 0.5rem;
}
footer p, footer a, footer span {
  color: white;
  margin: 1rem;
}
footer a {
  text-decoration: underline;
}/*# sourceMappingURL=globals.css.map */