*{
  margin: 0;padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
@font-face {
  font-family: "GenEiLateMinN_v2";
  src: url("../fonts/GenEiLatin-Separate_v2.1/GenEiLateMinN_v2.ttf") format("truetype");
  font-display: swap;
}
body{
  margin: auto;
  font-family: 'GenEiLateMinN_v2', serif;
  background-color: #f5e4de;
  background: url("/background.svg") fixed 100px;
}
div#__next{
  max-width: 400px;
  margin: auto;
  border: .6rem #311b15 solid;
  box-sizing: content-box;
  background-color: rgb(253, 250, 220);
  overflow: hidden;
}


a{
  text-decoration: none;
  color:black;
}

li{
  list-style: none;

}

header{
  height: 18rem;
  color:white;
  padding: 2rem;
  background: url("/header.svg") center center no-repeat #754F44;
  background-size: cover;
  font-family: 'GenEiLateMinN_v2', serif;
  h1{
    margin-top: 1.5rem;
    line-height: 1.5em;
  }
}


nav{
  padding: 1.2rem;
  background-color: rgb(255, 248, 239);
  border-bottom: #754F44 3px dashed;
  a{
    color: #754F44;
    font-weight: 800;
  }
}

nav ul{
  display: flex;
  justify-content: center;
  align-items: center;

  flex-wrap: wrap;
  li{
    text-align: center;
    flex-basis: 50%;
    flex-grow: 1;
    background-color: rgb(255, 248, 239);
    padding: 1rem;
    font-size: 18px;


  }
  li:nth-child(odd){
    border-right: 2px #754F44 solid;
  }
  li:nth-child(n+3){
    border-top: 2px #754F44 solid;
  }
  // li:nth-child(3){
  //   font-size: 16px;
  // }

}


.loginNav{
  border-top: 2px #754F44 solid;
}
#goToAbout{
  display: flex;
  justify-content: center;align-items: center;
  text-align: center;
  margin:1rem auto;
  height: 3rem;
  padding: 2rem;
  font-size: 22px;
  // background: url("/goToAbout.svg") no-repeat center;
  // // background-color:rgb(255, 248, 239) ;



  a{
    display: block;
    position: relative;
    font-size: 20px;
    color: #4b281f;
    font-weight: 900;
    &::before{
      content: "\f05a";
      display: block;
      position: absolute;
      font-size: 20px;
      transform: translate(-30px,2px);
      font-family: "Font Awesome 6 Free";
    }
  }
}
.latestTests,.latestNewses{
  color: #3d3b16;
  padding: 1rem;
  // margin-bottom: 1rem;
  a{
    color: #2e2c0d;
  }

  li{
    margin: 1rem;
  }
  h3{
    font-size: 25px;
    bottom: 0;
    
    &::before{
      content: "";
      display: inline-block;
      width: .5rem;
      height: 20px;
      background-color: #5E654A;
      margin-right: 10px;
      line-height: 25px;
      bottom: 0;
    }
  }
  ul{
    margin: 2rem 0;
  }

  background-color: #d9e0c4;
}


.latestTests{
  line-height: 1.5em;
  // margin-bottom: 1rem;
  border-top: #754F44 3px dashed;
  li:nth-child(n+1){
    border-bottom: 2px #5E654A dashed;
  }
  &::after{
    content: "";
    display: block;
    height: 1rem;
    background: url("/separatingLine/b_ornament_146_0S.png") no-repeat center center;
    margin-top: 2rem;
  }
  .publisher{
    display: block;
    position: relative;
    left: 12rem;
  }

}
a.allTests{
  display: block;
  text-align: center;
  width: 200px;
  margin: .5rem auto ;
  background-color: #5E654A;
  padding:.5rem;
  border-radius: 10px;
  color: white;
}


.latestNews{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  a{
    border-bottom: 2px #5E654A dashed;
    font-size: 14px;
    line-height: 1.5em;
  }
  small{
    font-size: 12px;
  }
  .postDate{
    background-color: #fefff9;
    border-radius: 5px;
    padding: .2rem .5rem;
    margin-right: 1rem;
    width: 8rem;
    text-align: center;
  }

}

//TESTsページ============================

.testsByGenre,.testsByStatus{
  margin: .4rem 1rem 0;
  cursor: pointer;
  
}
.testsByGenre{
  text-align: center;
  line-height: 1.5em;
  li{
    color: #2e2c0d;
    padding-bottom: .3rem;
    &:hover{
      background-color: #5E654A;
      color: white;
      transition: .4s;
    }
  }

}
label.selectTestsNav{
  cursor: pointer;
  background-color: #5E654A;
  color: white;

  width: 60%;
  margin: auto;
  padding: .5rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

label.selectTestsNav + .testsByGenre{
  height: 0;
  transition: .5s;
  overflow: hidden;
  
}
input#selectTestsNav{
  display: none;
}
label.selectTestsNav{
  position: relative;
  &::after{
    content: "＋";
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1rem;height: 1rem;
    font-size: 20px;
  }
  
}
input#selectTestsNav:checked + label.selectTestsNav{
  position: relative;
  &::after{
    content: "－";
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1rem;height: 1rem;
    font-size: 20px;
  }
}

div.seeAllTests{
  text-align: center;
  cursor: pointer;
  background-color: #5E654A;
  color: white;
  width: 60%;
  margin: 1rem auto;
  padding: .5rem;
  border-radius: 10px;
}

#selectTestsNav:checked + label.selectTestsNav + .testsByGenre{
  height: 15rem;
  transition: .5s ease-in-out;
}
ul.testsByStatus{
  display: flex;
  justify-content: center;align-items: center;
  li:nth-child(n+2){
    margin-left: .3rem;
  }
  li{
    background-color: #d9e0c4;
    padding: .5rem .2rem;
    width: 35%;
    text-align: center;
    font-size: 13px;
    transition: .3s;
    border-radius: 10px 10px 0 0;
  }
  li.selected{
    background-color: #5E654A;
    color: white;
  }
}
.currentTests{
  background-color: #d9e0c4;
  padding: .5rem;
}

.pagingBtn{
  
  display: flex;
  justify-content: center;align-items: center;
  transition: .3s;
  button{
    cursor: pointer;
    &:hover{
      background-color: #744f45;
    }
    i{
      color: white;
      font-size: 18px;
    }
    width: 100%;
    border: none;
    padding: .6rem;
    background-color: #a56e5f;
    transition: .3s;
    &:disabled{
      cursor: not-allowed;
      background-color:#f5e4de ;
      
    }
  }
  button:nth-child(1){
    border-right: #311b15 2px solid;
  }
  button:nth-child(2){
    border-left: #311b15 2px solid;
  }
}
.currentTests{
  div.PredictionTests:nth-child(n+2){
    border-top: #aa706b 2px dotted;
  }
}

//以下是每個個別的題目區塊
div.PredictionTests{
  color: #5e664b;
  h4{
    color: #2e2c0d;
    font-weight: 400;
    position: relative;
    display: flex;
    &::before{
      position: absolute;
      transform: translateX(-15px);
      content: "";
      display: block;
      width: 10px;height: 20px;
      background-color: #2e2c0d;
    }
  }
  // background-color: #ccc;
  padding: 1rem;
  // border: ;
  small.publisher{
    margin-top: .3rem;
    display: block;
    position: relative;
    left: 12rem;
    a{
      color: #5e664b;
    }
  }
  .basicPoint{
    padding-bottom: .5rem;
    border-bottom: 2px #5E654A dashed;
    color: #2e2c0d;
  }
  .genre{
    padding: .5rem 0;
  }
  line-height: 1.5em;
}


//TESTsページ============================

//個別テストのページ============================



.testBody{
  line-height: 1.5em;
  .statusMsg{
    font-size: 14px;
  }
  .datesOfTest{
    font-size: 13px;
    margin: 1rem 0;
  }
  .goToCheck,.goToPredict{
    margin:1rem auto;
    text-align: center;
    width: 50%;
    display: block;
    background-color: #f06d62;
    color: white;
    padding: .5rem;
    border-radius: 10px;
    font-weight: 700;
    transition:background-color .3s;
    &:hover{
      background-color: white;
      color: #f06d62;
      outline: 2px #f06d62 solid;
    }
  }
  .incorrectMsg{
    color: #666;
    border: 2px #666 solid;
    background-color: rgba(255,255,255,.3);
    border-radius: 5px;
    padding: .6rem 1rem;
    font-weight: 700;
    font-size: 20px;
    position: absolute;
    z-index: 9;
    right: 2rem;
    top: 9rem;
    transform: rotate(20deg);
  }
  .correctMsg{
    color: rgb(180, 57, 41);
    position: absolute;
    z-index: 9;
    right: 1rem;
    top: 8rem;
    transform: rotate(20deg);
    background-color: rgba(255,255,255,.3);
    border: rgb(180, 57, 41) 3px solid;
    width: 7rem;height: 7rem;
    display: flex;align-items: center;justify-content: center;
    border-radius: 50%;
    font-size: 30px;
  }
  position: relative;
  padding: .6rem;
  color: #311b15;
  .basicPoint{
    font-size: 14px;
    span{
      text-decoration: underline;
    }
  }
  .testStatus{
    display: flex;
    justify-content: center;align-items: center;
    margin: 1rem 0;
    text-align: center;
    span{
      text-decoration: underline;
    }
    &::before,&::after{
      content: "";
      display: block;
      background-color: #976c45;
      width: 10px;height: 20px;
      transition: .3s;
    }
    &::before{
      transform: translateX(-12px);
  
    }
    &::after{
      transform: translateX(12px);
    }
  }
  h4{
    font-size: 20px;
    margin-bottom: .5rem;
    color: #4b281f;
    line-height: 1.5em;
  }
  p,label{
    color: #754F44;
  }
  .genre{
    font-size: 14px;
    margin-bottom: .5rem;
  }

  small.publisher{
    display: block;
    width: 100%;
    text-align: right;
    a{
      color: #311b15;
    }
  }
  .description{
    cursor: pointer;
    margin: 1rem;
    background-color: #976c45;
    padding: .5rem;
    text-align: center;
    border-radius: 10px;
    color: white;
  }

  #description{
    cursor: pointer;

    position: fixed;
    top: 50%;left: 50%;transform: translate(-50%,-50%);
    background-color: #4b281f;color: white;
    padding: 1rem;
    border: 2px white solid;
    display: inline-block;
    height: auto;width: auto;
    animation: showDes .8s  forwards;
    overflow: auto;
    z-index: 999;
    border-radius: 10px;
    white-space: pre-wrap;
  }
  .mask{
    position: fixed;
    background-color: rgba(0,0,0,.5);
    top: 0;left: 0;
    width: 100%;height: 100%;
    z-index: 10;
  }
}

main .alertMsg,.pointAlert{
  background-color:rgb(252, 252, 198) ;
  color: #976c45;
  border: 1px #976c45 solid;
  margin:1rem auto;
  width: 90%;
  text-align: center;
  border-radius: 5px;
  padding: .3rem;
  font-size: 14px;
  justify-content: center;align-items: center;
}

.goBack{
  display: block;height: 40px;
  background-color: rgb(78, 137, 192);
  border-radius: 0 2px 2px 0;
  color: white;
  padding: .5rem;
  position: relative;
  transform: translateX(20px);
  &::before{
    content: "";
    display: block;
    top: 50%;
    left: 0;
    margin-top: -20px;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 20px solid rgb(78, 137, 192); 
    position: absolute;
    transform: translateX(-20px);
  }
}

@keyframes showDes{
  0%{
    padding: 0;
    overflow: hidden;
    width: 0%;
    height: 0%;
  }
  30%{
    padding: 0;
    overflow: hidden;
    width: 90%;
    height: 0%;
  }
  100%{
    padding: 1rem;
    overflow: auto;
    width: 90%;
    height: 50%;
    cursor: auto;
  }
}

.navInTest{
  position: relative;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // background-color: yellow;
  margin-bottom: 1rem;

  .editTests{
    position: absolute;
    right: 40%;
  }
  .editTests,.deleteTest{
    background-color: #976c45;
    border-radius: 10px;
    padding: .5rem;
    height: 40px;
    a,p{
      color: white;
    }
  }
}

section.choicesSection{
  display: grid;
  font-size: 14px;
  grid-template-columns: 50% 50%;
  // grid-template-rows: 25% 25% 25% 25%;
  gap: .2rem;
  margin: 2rem 0;
  color: #754F44;
  .choices{
    display: flex;flex-direction: column;
    // box-sizing: content-box;
    background-color: rgb(255, 252, 226);
    border: 2px #976c45 solid;
    border-radius: 3px;
    box-shadow: 0 0 1px 1px rgba(97, 82, 42, 0.5);
    min-height: 5rem;
    .choiceInfo{
      border-bottom: 2px #976c45 solid;
      display: flex;
      justify-content: space-between;
      padding: 0 .2rem;
      line-height: 1.3em;
    }
    .choiceContent{
      display: flex;align-items: center;justify-content: center;
      //以上雖然可以置中但會導致無法換行?
      line-height: 1em;
      flex-wrap: wrap;//沒用
      padding: .3rem;
      text-align: center;
      overflow-wrap: anywhere;//讓元素內容太長時，文字的任何地方都可斷行
      min-height: 3.5rem;
      vertical-align: middle;
      
    }
  }
  .choices.selected{
    background-color: #fde5dd;
    color: #773b35;
    border: 2px #773b35 solid;
    .choiceInfo{
      border-bottom: 2px #773b35 solid;
    }
    .choiceContent{
      color: #773b35;
    }
  }
  .choices.selected.flag{
    background-color: rgb(255, 236, 126);
    color: #754F44;
    border: 2px #754F44 solid;
    .choiceInfo{
      span:first-child{
        &::after{
          content: "\f024";
          font-size: 18px;
          display: inline-block;
          font-family: "Font Awesome 6 Free"; /* Font Awesome 圖示字體名稱 */
          font-weight: 900; /* 字體粗細 */
          position: absolute;
          color: red;
          transform: rotate(7deg) translateX(8px);
        }
      }
      border-bottom: 2px #754F44 solid;
    }
    .choiceContent{
      color: #754F44;
    }
  }
  .choices.answer{
    animation: answerGlow 2s infinite;
    animation-delay: 2s;
    position: relative;
    &::before{
      content: "";
      position: absolute;
      top: -2px;
      left: -2px;
      width: 100%;
      height: 100%;
      background: white;
      opacity: 0;
      border: 4px white solid;
      animation: answerShine 2s infinite;
      animation-delay: 2s;
    }
  }
}

@keyframes answerGlow{
  0%{
    box-shadow: 0 ;
  }
  50%{
    box-shadow:0 0 50px white;
  }
  75%{
    box-shadow: 0 0 20px white;
  }
  100%{
    box-shadow: 0 ;
  }
}
@keyframes answerShine{
  0%{
    opacity: 0;
  }
  50%{
    opacity: .4;
  }

  100%{
    opacity: 0;
  }
}


//個別テストのページ============================

//newTestページ============================
form.newTest{
  padding: 1rem;
}

form{ 
  color: #4b281f;
  label{
    display: block;
    margin-bottom: .5rem;
  }
  .newTestNotice{
    font-size: 14px;
    margin: .5rem 0 1rem;
  }
  input[type="text"]{
    width: 100%;
    height: 3em;
    line-height: 2;
    margin-bottom: 1rem;
  }
  select,textarea{
    width: 100%;
    margin-bottom: 1rem;
    white-space: pre-wrap;
  }
  // .choices label{
    
  // }
  label.test-deadline,label.test-bonus{
    display: inline-block;
  }
  #test-bonus{
    display: inline-block;
    width: 14em;
    // margin: auto;
  }
  button{
    cursor: pointer;
    display: block;
    margin:1rem auto;
    padding: .5rem 1rem;
    font-size: 16px;
    background-color: #aa706b;
    color: white;
    border: transparent 2px solid;border-radius: 10px;
    font-weight: 700;
    transition: .3s;
    &:hover{
      background-color: white;
      color: #aa706b;
      border: 2px #aa706b solid;
    }
  }
}

//newTestページ============================

//CheckOut/toPredictページ============================

h4.test-title{
  font-size: 20px;
  margin-bottom: 0.5rem;
  color: #4b281f;
  margin-top: 1rem;
}
p.test-genre{
  font-size: 14px;
  margin-bottom: 0.5rem;
  color: #754F44;
}
h4.test-title,p.test-genre{
  margin-left: 1rem;
  
}

.CheckOut,.toPredict{
  input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  input[type="radio"] + label{
    margin: 0;
    border-bottom: 2px transparent solid;
    cursor: pointer;
  }
  input[type="radio"]:checked + label{
    background-color: #fff0ae;
    border-bottom: 2px #fff0ae solid;
  }

}
div.isFlag{
  label{
    margin: 0;
  }
  input{
    margin-right: .5rem;
  }
  display: flex;
  justify-content: center;align-items: center;
  min-height: 2em;
  margin-bottom: 1rem;
  font-size: 16px;
  background-color:rgb(255, 255, 219) ;
  color: #493622;
  border: 1px #493622 solid;
  border-radius: 8px;
  max-width: 40%;
  margin:0 auto 2rem;
}

div.usePoint{
  #usePoint{
    width: 14em;
  }
  label{
    margin: 0;
    color: #4b281f;
  }
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
}
section.choicesSection .choices.toPredict.isSelected{
  border: 2px solid #ccc;
  box-shadow: none;
  label{
    .choiceInfo{
      border-bottom: 2px solid #ccc;
    }
    background-color: #dfdfdf;
    p,.choiceInfo span{
      color: white;
    }
  }

}

form.edit{
  padding: 1rem;
}

form.CheckOutForm{
  padding: 1rem;
}

//CheckOut/toPredictページ============================

//TestsPageTemplate============================

.testsTemplate{
  display: flex;
  flex-direction: column;
  justify-content: center;align-items: center;
  padding: 1rem 1rem 0;
  position: relative;
  &::after{
    content: "";
    display: block;
    height: 1rem;
    background: url("/separatingLine/b_ornament_146_0S.png") no-repeat center center;
    width: 100%;
    margin: 0rem 1rem 1rem;
  }
}
.toRules,.toContact{
  display: flex;
  &:hover::before,&:hover::after{
    background-color: #d9e0c4;
    transition: .3s;
  }
  &::before,&::after{
    content: "";
    display: block;
    background-color: #2e2c0d;
    width: 10px;height: 20px;
    transition: .3s;
  }
  &::before{
    transform: translateX(-12px);

  }
  &::after{
    transform: translateX(12px);
  }
}

.publishBtn,.postNews{
  margin: 1rem;
  background-color: #aa706b;
  padding: .5rem;
  border-radius: 10px;
  transition:background-color .3s;
  a{
    font-size: 18px;
    font-weight: 800;
    color: white;
  }
  &:hover{
    background-color: white;
    outline: 2px #aa706b solid;
  }
  &:hover a{
    color: #aa706b;
  }
  
}

//TestsPageTemplate============================

//profile============================

.profileBody,.recordBody{
  padding: 1rem;
  color: #4b281f;
  a{
    color: #4b281f;
  }
}
.profileBody{
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 2em;
  h4{
    align-self: flex-start;
    font-size: 25px;
    margin-bottom: 1rem;
  }
  .expBar{
    height: .5rem;
    width: 300px;
    background-color: #ccc;
    margin:1rem auto;
    position: relative;
    border-radius: 2px;
    small{
      margin: .2rem;
      display: block;
      text-align: right;
      width: 100%;
    }
    .expBarIn{
      background-color:rgb(78, 137, 192) ;
      height: .5rem;
      position: absolute;
      border-radius: 2px 0 0 2px;
      transition: width .3s;
    }
  }
  .penaCounter{
    margin: 1rem 0;
  }
}

.recordBody{
  background-color: #e9d5b1;
  margin: .5rem;
  
  .recordTitle{
    font-size: 18px;
    margin: 1rem 0;
  }
  ul{
    // background-color: #ffcc95;
    padding: 1rem;

    li{
      margin-bottom: .8rem;
      padding: 1rem;
      // border-bottom: 2px #d8907c dashed;
      position: relative;
      background-color: #fff5eb;
      border-radius: 10px;
    }
  }
  .publishRecordsList{
    margin-bottom: 3rem;
    line-height: 1.5em;
  }
  .predictRecordsList{
    margin-bottom: 3rem;
    line-height: 1.5em;
    li p.counter{
      text-align: right;
      font-size: 14px;
    }
    li .accurateMsg{
      position: absolute;
      top: -3px;left: -25px;
      background-color: rgb(180, 57, 41);
      color: white;
      padding: 3px 6px;
      font-size: 10px;
      transform: rotate(-30deg);
      border: white 3px double;
    }
  }
}

//profile============================

//signUp============================

form.signUp,form.login{
  .alertMsg{
    padding: .5rem;
    margin-bottom: 2rem;
    justify-content: center;
  }
  .signUpNotice{
    display: block;
    margin-bottom: 1rem;
  }
  padding: 1rem;
  div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding: 0;
    label{
      margin-bottom: 0;
    }
    input{
      margin-bottom: 0;
      height: 2em;
      width: 15em;
    }
  }
  div.nickname{
    margin-bottom: 2rem;
  }
}

//signUp============================

//login============================

form.login{
  padding: 2rem 1rem 1rem;
  div.password{
    margin-bottom: 2rem;
  }
}

//login============================

.pleaseLogin{
  text-align: center;
  margin: 2rem;
  color: #311b15;
}

form.contact{
  padding: 1rem;
  h2{
    // margin-bottom: 1rem;
    display: flex;
    position: relative;
    margin: 1rem auto 2rem;
    justify-content: center;
    align-items: center;
    
    &::before,&::after{
      content: "";
      display: block;
      background-color: #311b15;
      height: 1.5em;width: 10px;
      position: relative;
    }
    &::before{
      transform: translateX(-10px);
    }
    &::after{
      transform: translateX(10px);
    }
  }
  .nickname,.email{
    display: flex;
    justify-content: space-between;
    input{
      width: 60%;
    }
    margin-bottom: 1rem;
    label{
      margin-bottom: 0;
    }
  }
  textarea{
    margin-top: -1rem;
  }
}

.newsTitle{
  color: #311b15;
  margin: 2rem auto ;
  display: flex;
  justify-content: center;align-items: center;
  &::before,&::after{
    content: "";
    display: block;
    background-color: #311b15;
    height: 1.5em;width: 10px;
    position: relative;
  }
  &::before{
    transform: translateX(-10px);
  }
  &::after{
    transform: translateX(10px);
  }
}

.newsIndex{
  color: #311b15;
  padding: 1rem;
  li:nth-child(n+2){
    border-top: 2px dashed #4b281f;
  }
  .news{
    small{
      font-size: 12px;
    }
    padding: .5rem;
    h4{
      font-size: 18px;
      padding: .3rem 0;
      a{
        color: #311b15;
      }
    }
  }
}
.newsForm{
  padding: 1rem;
}

.postNews{
  display: block;
  color: white;
  margin: auto;
  width: 10rem;
  text-align: center;
  &:hover{
    color: #aa706b;
  }
}

.newsBody{
  line-height: 1.5em;
  p.content{
    white-space: pre-wrap;
  }
  color: #311b15;
  padding: 1rem;
  .goBack{
    max-width: 15%;
  }
  h3{
    margin: 1rem 0;
    text-align: center;
    font-size: 25px;
  }
  .postDate{

    margin-bottom: 2rem;
    text-align: right;
  }
}

.penaltyAlert{
  background-color: rgb(255, 199, 199);
  padding: .5rem 2rem;
  margin: 2rem .7rem;
  border: 1px solid rgb(163, 0, 0);
  color: rgb(163, 0, 0);
  border-radius: 10px;
}

li.isNotExist{
  display: flex;
  position: relative;

  &::before{
    position: relative;
    transform: translate(-3px,2px);
    content: "\f057";
    display: block;
    font-family: "Font Awesome 6 Free";

  }
}

section.about{
  .toRules,.toContact{
    background-color: #e2f5d1;
    padding: .5rem;
    border-radius: 10px;
  }
  span{
    display: inline-block;
    overflow-wrap: anywhere;
    word-break: break-all;
  }
  .author{
    text-align: right;
    font-size: 14px;
  }
  color: #311b15;
  padding: 1rem;
  overflow-wrap: anywhere;
  .linkToFTA{
    p{
      text-indent: 0;
    }
    background-color: #f5d9d1;
    padding: 1rem;
    border-radius: 10px;
    font-size: 14px;
    color: #773b35;
    a{
      text-decoration: underline;
      line-height: 1.5em;
      color: #773b35;
    }
  }
  h3{
    margin: 1rem auto 2rem;
    font-size: 18px;
    text-align: center;
  }
  p{
    line-height: 1.5em;
    text-indent: 1em;
  }
  a{
    justify-content: center;align-items: center;
  }
}

strong{
  word-wrap: break-word;
  word-break: break-all;

}

.highlighter.brown{
  word-wrap: break-word;
  word-break: break-all;
  position: relative;
  display: inline-block;
  transform: translateX(-1em);
  // vertical-align: middle;
  margin-right: -1em;
  z-index: 1;
  // left: -1em;
  &::after{

    position: absolute;
    left: 0;bottom: 0;
    content: "";
    display: block;
    height: .8rem;
    width: 90%;
    // background-color: rgba($color:#91bbcc,$alpha:.5);
    background-color: rgba($color:#cc9e91,$alpha:.5);
    transform: translateX(1em);
    z-index: -1;
  }
}
.highlighter.blue{
  word-wrap: break-word;
  word-break: break-all;
  position: relative;
  display: inline-block;
  transform: translateX(-1em);
  // vertical-align: middle;
  margin-right: -1em;
  z-index: 1;
  // left: -1em;
  &::after{

    position: absolute;
    left: 0;bottom: 0;
    content: "";
    display: block;
    height: .8rem;
    width: 90%;
    background-color: rgba($color:#91bbcc,$alpha:.5);
    // background-color: rgba($color:#cc9e91,$alpha:.5);
    transform: translateX(1em);
    z-index: -1;
  }
}

.highlighter.yellow{
  word-wrap: break-word;
  word-break: break-all;
  position: relative;
  display: inline-block;
  transform: translateX(-1em);
  // vertical-align: middle;
  margin-right: -1em;
  z-index: 1;
  // left: -1em;
  &::after{

    position: absolute;
    left: 0;bottom: 0;
    content: "";
    display: block;
    height: .8rem;
    width: 90%;
    background-color: rgba($color:#e9d868,$alpha:.5);
    // background-color: rgba($color:#cc9e91,$alpha:.5);
    transform: translateX(1em);
    z-index: -1;
  }
}

//privacy-policy================

section.privacy-policy{
  h4{
    margin-bottom: .5rem;
  }
  .miniTitle{
    margin: .5rem 0 1rem;
    font-size: 14px;
  }
  h3{
    text-align: center;
    margin: 2rem;
    font-size: 25px;
  }
  ul{
    margin-bottom: 2rem;
    background-color: #f3d0b0;
    padding: 1rem;
    border-radius: 10px;
    li{
      transform: translateX(5px);
      position: relative;
      font-size: 14px;
      &::before{
        position: absolute;
        left: -10px;top: 10px;
        content: "";
        display: block;
        height: 5px;width: 5px;
        background-color: #311b15;
      }
    }
  }

  padding: 1rem;
  line-height: 1.5em;
  color: #311b15;
  a{
    color: #311b15;
    text-decoration: underline;
  }
}

//privacy-policy================

//rules======================

.publishCorner,.predictCorner,.checkOutCorner{
  a{
    text-decoration: underline;
    color: #2e2c0d;
  }
  color: #2e2c0d;
  .title{
    font-size: 18px;
    padding: 1rem;
    background-color:#eff5de ;
    margin: 0;
  }
  margin: 1rem 0;
  background-color: #d9e0c4;
  padding: .5rem;
  border-radius: 5px;
  line-height: 1.5em;
  p{
    margin: 1rem 0 ;
  }
  .delete,.patch{
    padding-top: .5rem;
    border-top: #5E654A 2px dashed;
  }
}


.rulesBody{
  a{
    text-decoration: underline;
    color: #2e2c0d;
  }
  img{
    display: block;
    margin:  auto;
  }
  line-height: 1.5em;
  .blockTitle{
    &::before{
      position: absolute;
      content: "";
      display: block;
      height: 20px;width: 10px;
      background-color: #4b281f;
      transform: translateX(-15px);
    }
    margin-bottom: .5rem;
    font-size: 18px;
  }
  .hint{
    display: inline-block;
    margin: .5rem 0;
  }
  color: #311b15;
  padding: 1rem;

  .profileCorner{
    .title{
      font-size: 18px;
      padding: 1rem;
      background-color:rgb(255, 240, 211) ;
    }
    margin: 1rem 0;
    background-color: rgb(218, 206, 188);
    padding: .5rem;
    border-radius: 5px;
    .aboutPoint,.aboutExp,.aboutPenalty{
      border-bottom:#4b281f 2px dashed;
      padding: 1rem;

    }
  }
  h2{
    // margin-bottom: 1rem;
    display: flex;
    position: relative;
    margin: 1rem auto 2rem;
    justify-content: center;
    align-items: center;
    
    &::before,&::after{
      content: "";
      display: block;
      background-color: #311b15;
      height: 1.5em;width: 10px;
      position: relative;
    }
    &::before{
      transform: translateX(-10px);
    }
    &::after{
      transform: translateX(10px);
    }
  }
}


.signUpAndLoginCorner{
  img{
    display: block;
    margin: 1rem auto;
  }
}

//rules======================

/* 滾動條的整體樣式 */
::-webkit-scrollbar {
  width: 5px;
}

/* 滾動條軌道 */
::-webkit-scrollbar-track {
  background-color: #cc9e91;
}

/* 滾動條滑塊 */
::-webkit-scrollbar-thumb {
  background-color: #882929;
  border-radius: 5px;
}

/* Firefox 瀏覽器 */
/* 滾動條的整體樣式 */
html {
  scrollbar-width: thin;
  scrollbar-color: #882929 #cc9e91;
}

/* 滾動條滑塊 */
html::-webkit-scrollbar-thumb {
  background-color: #882929;
}

/* 滾動條軌道 */
html::-webkit-scrollbar-track {
  background-color: #cc9e91;
}

/* Microsoft Edge 瀏覽器 */
/* 滾動條的整體樣式 */
@media screen and (min-width: 768px) {
  ::-ms-scrollbar {
    width: 5px;
  }
}

/* 滾動條軌道 */
@media screen and (min-width: 768px) {
  ::-ms-scrollbar-track {
    background-color: #cc9e91;
  }
}

/* 滾動條滑塊 */
@media screen and (min-width: 768px) {
  ::-ms-scrollbar-thumb {
    background-color: #882929;
    border-radius: 5px;
  }
}



.resourcePage{
  color: #311b15;
  line-height: 1.5em;
  padding: 1rem;
  a{
    color: #311b15;
    text-decoration: underline;
    display: inline-block;
    margin-left: 1rem;

  }
  .title{
    font-size: 18px;
    margin-bottom: .5rem;
  }
}

.resourcePage h2{
  display: flex;
  position: relative;
  margin: 1rem auto 2rem;
  justify-content: center;
  align-items: center;
  
  &::before,&::after{
    content: "";
    display: block;
    background-color: #311b15;
    height: 1.5em;width: 10px;
    position: relative;
  }
  &::before{
    transform: translateX(-10px);
  }
  &::after{
    transform: translateX(10px);
  }
}


footer{
  background-color: #754F44;
  padding: .5rem;
  line-height: 1.5em;
  p,a,span{
    color: white;
    margin: 1rem;
    
  }
  a{
    text-decoration: underline;
  }

}